
html {
  font-family: 'Avenir Next', 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

ul,
p {
  margin-bottom: 8px;
}

ul {
  list-style: none;
  padding: 0;

  li {
    padding-left: 36px;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: currentColor;
      margin-right: 16px;
      margin-top: -0.25em;
      margin-left: -20px;
    }
  }
}