:root {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  // Text colors
  --clr-text: var(--clr-dark-a0);
  --clr-highlight: var(--clr-primary-a0);

  /** Theme primary colors */
  --clr-primary-a0: #6942a5;
  --clr-primary-a10: #5d3b91;
  --clr-primary-a20: #52347e;
  --clr-primary-a30: #472e6b;
  --clr-primary-a40: #3c2759;
  --clr-primary-a50: #312147;

  /** Theme surface colors */
  --clr-surface-a0: #ffffff;
  --clr-surface-a10: #f0f0f0;
  --clr-surface-a20: #e1e1e1;
  --clr-surface-a30: #d3d3d3;
  --clr-surface-a40: #c5c5c5;
  --clr-surface-a50: #b6b6b6;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #f0ebf6;
  --clr-surface-tonal-a10: #e3dfe8;
  --clr-surface-tonal-a20: #d6d2db;
  --clr-surface-tonal-a30: #c9c6cd;
  --clr-surface-tonal-a40: #bdbac0;
  --clr-surface-tonal-a50: #b0aeb3;

  /** Success colors */
  --clr-success-a0: #1b7f5c;
  --clr-success-a10: #28be8a;
  --clr-success-a20: #58dbad;

  /** Warning colors */
  --clr-warning-a0: #b8871f;
  --clr-warning-a10: #dfae44;
  --clr-warning-a20: #ebca85;

  /** Danger colors */
  --clr-danger-a0: #b13535;
  --clr-danger-a10: #d06262;
  --clr-danger-a20: #e29d9d;

  /** Info colors */
  --clr-info-a0: #1e56a3;
  --clr-info-a10: #347ada;
  --clr-info-a20: #74a4e6;

  @media(prefers-color-scheme: dark) {
    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    // Text colors
    --clr-text: var(--clr-light-a0);
    --clr-highlight: var(--clr-primary-a50);

    /** Theme primary colors */
    --clr-primary-a0: #6942a5;
    --clr-primary-a10: #7a56af;
    --clr-primary-a20: #8b6ab9;
    --clr-primary-a30: #9c7ec3;
    --clr-primary-a40: #ad93cd;
    --clr-primary-a50: #bda8d7;

    /** Theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #1b171f;
    --clr-surface-tonal-a10: #302c34;
    --clr-surface-tonal-a20: #46434a;
    --clr-surface-tonal-a30: #5e5b61;
    --clr-surface-tonal-a40: #777479;
    --clr-surface-tonal-a50: #908e93;

    /** Success colors */
    --clr-success-a0: #22946e;
    --clr-success-a10: #47d5a6;
    --clr-success-a20: #9ae8ce;

    /** Warning colors */
    --clr-warning-a0: #a87a2a;
    --clr-warning-a10: #d7ac61;
    --clr-warning-a20: #ecd7b2;

    /** Danger colors */
    --clr-danger-a0: #9c2121;
    --clr-danger-a10: #d94a4a;
    --clr-danger-a20: #eb9e9e;

    /** Info colors */
    --clr-info-a0: #21498a;
    --clr-info-a10: #4077d1;
    --clr-info-a20: #92b2e5;
  }
}