
@mixin form-input {
  .form-input {
    display: flex;
    flex-direction: column;
    max-width: 50ch;
  }
}

// @mixin form-input-label {
//   .form-input__label {
//     color: var(--color-primary);
//   }
// }

@mixin form-input-hint {
  .form-input__hint {
    margin-bottom: 0;
    font-size: var(--text-small);
  }
}

@mixin form-input-input {
  .form-input__input {
    margin-top: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    height: 40px;
    padding: 0 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);;

    &--invalid {
      border-color: var(--color-error);
      background: var(--color-error-light);
    }
  }
}

@mixin form-input-error {
  .form-input__error {
    color: var(--color-error);
    margin-top: 4px;
    margin-bottom: -0.5rem;
    font-size: var(--text-small);
  }
}
